<div class="comment-container">
    <form action="/comments/create" method="post">
        <input type="text" name="content" placeholder="Comment here" required>
        <button type="submit" title="send a comment on this post">
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </form>    
</div>
