<footer>
    <div class="footer-container">
        <div>
            <h2>Codeial</h2>
        </div>
        <div class="bottom-nav-link">
            <p class="nav-link">
                <a href="/">Home</a>
            </p>
            <p>
                <a href="/users/profile">Support</a>
            </p>
            <p>
                <a href="/users/profile">Terms & Conditions</a>
            </p>
            <p>
                <a href="/users/profile">Contact Us</a>
            </p>
        </div>
    </div>
    <hr>
    <address>
         All Right Reserved | Codeial 2022&#174;
    </address>
</footer>