<header>
    <div>
        <h2>
            <a href="/" title="Codeial">Codeial</a>
        </h2>
    </div>
    <div>
        <p class="nav-link">
            <a href="/">Home</a>
            <a href="/posts/post_view">Posts</a>
            <% if(locals.user) { %>
                <a href="/users/profile">Profile</a>
                <a href="/users/sign-out">Log Out</a>
            <% }else{ %>
                <a href="/users/signin">Sign In</a>
                <a href="/users/signup">Sign Up</a>
            <% } %>
        </p>
    </div>
</header>