
<header>
    <div>
        <h2>
            <a href="/">Codeial</a>
        </h2>
    </div>
    <div>
        <p class="nav-link">
            <a href="/">Home</a>
            <a href="/users/profile">Profile</a>
            <a href="/users/create-session">Sign In</a>
            <a href="/users/create">Sign Up</a>
        </p>
    </div>
</header>