
<div class="page-title">
    <h1>
        Codeial | <%= title %>
    </h1>
    <p>Create and share your thoughts with other <span style="color: orange;">developers...</span></p>
</div>

<!-- <div class="curve"></div> -->

<div class="main-home-section">
    <div class="container">
        <div class="howto">
            <h1>How to
                <i class="fa-solid fa-face-thinking"></i>
            </h1>
        </div>
        <div class="cards-container">
            <div class="cards">
                <img src="/images/stuffs-img/img1.png" alt="image" width="120">
                <div>
                    <h3>
                        Maximize your skills
                    </h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, at sint ratione natus placeat atque? Est, maxime repellat ipsam reiciendis obcaecati tenetur similique quo quidem corporis iste nobis expedita facilis?
                    </p>
                </div>
            </div>
            <div class="cards">
                <img src="/images/stuffs-img/img2.png" alt="image" width="120">
                <div>
                    <h3>
                        Code Everyday
                    </h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, at sint ratione natus placeat atque? Est, maxime repellat ipsam reiciendis obcaecati tenetur similique quo quidem corporis iste nobis expedita facilis?
                    </p>
                </div>
            </div>
            <div class="cards">
                <img src="/images/stuffs-img/img3.png" alt="image" width="120">
                <div>
                    <h3>
                        Enhance your Design
                    </h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, at sint ratione natus placeat atque? Est, maxime repellat ipsam reiciendis obcaecati tenetur similique quo quidem corporis iste nobis expedita facilis?
                    </p>
                </div>
            </div>
            <div class="cards">
                <img src="/images/stuffs-img/img4.png" alt="image" width="120">
                <div>
                    <h3>
                        Work on Statistics
                    </h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, at sint ratione natus placeat atque? Est, maxime repellat ipsam reiciendis obcaecati tenetur similique quo quidem corporis iste nobis expedita facilis?
                    </p>
                </div>
            </div>
            <div class="cards">
                <img src="/images/stuffs-img/img5.png" alt="image" width="120">
                <div>
                    <h3>
                        Productive Minds
                    </h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, at sint ratione natus placeat atque? Est, maxime repellat ipsam reiciendis obcaecati tenetur similique quo quidem corporis iste nobis expedita facilis?
                    </p>
                </div>
            </div>
            <div class="cards">
                <img src="/images/stuffs-img/img6.png" alt="image" width="120">
                <div>
                    <h3>
                        Work in Team
                    </h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, at sint ratione natus placeat atque? Est, maxime repellat ipsam reiciendis obcaecati tenetur similique quo quidem corporis iste nobis expedita facilis?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
