
<div class="page-title">
    <h1>
        Codeial | <%= title %>
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure sunt nisi nulla quas modi odio natus ratione labore similique provident, quisquam est totam itaque magnam consequuntur neque quod rem cum.</p>
</div>
<div class="curve"></div>
<div class="main-home-section">
    <div class="container">
        <div class="cards-container">
            <div class="cards">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, at sint ratione natus placeat atque? Est, maxime repellat ipsam reiciendis obcaecati tenetur similique quo quidem corporis iste nobis expedita facilis?
            </div>
            <div class="cards">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, at sint ratione natus placeat atque? Est, maxime repellat ipsam reiciendis obcaecati tenetur similique quo quidem corporis iste nobis expedita facilis?
            </div>
            <div class="cards">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, at sint ratione natus placeat atque? Est, maxime repellat ipsam reiciendis obcaecati tenetur similique quo quidem corporis iste nobis expedita facilis?
            </div>
            <div class="cards">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, at sint ratione natus placeat atque? Est, maxime repellat ipsam reiciendis obcaecati tenetur similique quo quidem corporis iste nobis expedita facilis?
            </div>
            <div class="cards">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, at sint ratione natus placeat atque? Est, maxime repellat ipsam reiciendis obcaecati tenetur similique quo quidem corporis iste nobis expedita facilis?
            </div>
            <div class="cards">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, at sint ratione natus placeat atque? Est, maxime repellat ipsam reiciendis obcaecati tenetur similique quo quidem corporis iste nobis expedita facilis?
            </div>
        </div>
    </div>
</div>