<div class="signing-container">
    <div class="page-title">
        <h1>
            Codeial | <span class="profile-title"><%= title %></span>
        </h1>
        <div class="form-container">
            <form action="/users/create" method="POST">
                <div>
                    <input type="text" name="name" placeholder="Username" required>
                </div>
                <div>
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div>
                    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                </div>
                <div>
                    <button type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>