body {
  margin: 0;
  background-color: orange;
  font-family: "Ubuntu", sans-serif; }

header {
  margin: 0;
  padding: 1rem 1rem;
  background-color: #0077ff;
  box-shadow: 0px 5px 80px 40px black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5; }
  header .nav-link a {
    border-radius: 10px;
    border: 1px solid;
    padding: .8rem 1.2rem; }
    header .nav-link a:hover {
      background-color: white;
      color: #0077ff; }
  header a {
    text-decoration: none;
    color: white; }

.page-title {
  color: white;
  padding: 10rem;
  background-color: #1b1b1b;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px; }
  .page-title .profile-title {
    color: orange; }
  .page-title .form-container {
    width: 350px;
    font-size: 1.2em; }
    .page-title .form-container input {
      color: #0077ff;
      border: 1px solid #0077ff;
      border-radius: 10px;
      margin: 10px 0;
      padding: 1rem;
      width: 80%;
      font-size: 1.1em;
      color: orange;
      background-color: transparent; }
    .page-title .form-container ::placeholder {
      font-size: 1.1em;
      color: #0077ff; }
    .page-title .form-container button {
      cursor: pointer;
      border: 1px solid #0077ff;
      background-color: transparent;
      padding: .6rem 1.4rem;
      border-radius: 10px;
      color: white;
      font-size: 1.1em; }
      .page-title .form-container button:hover {
        background-color: #0077ff; }

.curve {
  position: absolute;
  height: 150px;
  width: 100%;
  bottom: 0; }
  .curve::before {
    content: ' ';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: orange;
    transform: translate(85%, 60%); }
  .curve::after {
    content: ' ';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 56%;
    height: 100%;
    background-color: #1b1b1b;
    transform: translate(-4%, 40%);
    z-index: -1; }

.main-home-section {
  margin-top: 150px; }
  .main-home-section .container {
    margin: 0 1.3rem; }
    .main-home-section .container .howto {
      font-size: 1.4em;
      text-align: center;
      padding: 1rem; }
    .main-home-section .container .cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      gap: 10px; }
      .main-home-section .container .cards-container .cards {
        margin: 10px 0;
        border-radius: 10px;
        width: 400px;
        min-width: 300px;
        height: auto;
        box-shadow: 0px 0px 8px 2px #ff7b00;
        cursor: pointer;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        transition: all .3s ease-in-out; }
        .main-home-section .container .cards-container .cards p {
          padding: 0 1rem; }
        .main-home-section .container .cards-container .cards:hover {
          color: white;
          background-color: #1b1b1b;
          transform: translateY(-10%); }

footer {
  margin-top: 150px;
  background-color: #1b1b1b;
  color: white; }
  footer .footer-container {
    margin: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    footer .footer-container p a {
      text-decoration: none;
      color: #0077ff; }
      footer .footer-container p a:hover {
        color: orange; }
  footer address {
    text-align: center; }
